/* /var/www/eMeditor/common.blocks/header/header.css: begin */ /**/
    .header{
    	background: black;
    	color: white;
    }
/* /var/www/eMeditor/common.blocks/header/header.css: end */ /**/

/* /var/www/eMeditor/common.blocks/panel/panel.css: begin */ /**/
    .panel{
    	border: solid 3px black;
    	border-radius: 5px;
    }
/* /var/www/eMeditor/common.blocks/panel/panel.css: end */ /**/

/* /var/www/eMeditor/common.blocks/button/_type/button_type_maxim.css: begin */ /**/
    .button_type_maxim{
    	margin: 10px;
    }
/* /var/www/eMeditor/common.blocks/button/_type/button_type_maxim.css: end */ /**/

